<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/style.css' ) }}" rel="stylesheet">
</head>
<body class="bg_color">
    <div class="container">
        
                        
        <div class="row">
            <div class="flex-container d-flex justify-content-between w-100">
                <div>
                    <h2 class="text_color">Add Project</h2>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>                
                <div class="d-flex">
                    <a href="/projects/home" class="nav-link px-0 ml-auto">Projects</a>
                    <a href="/logout" class="nav-link">Logout</a>
                </div>              
            </div>            
        </div>
        <div class="row justify-content-center">
            <form action="/projects" class="col-8 custom-form top_space" method="post" enctype="multipart/form-data">
                <div>
                    <div class="form_group text_color">
                        <label for="image">Image:</label>
                        <input type="file" name="image"  class="form-control">
                    </div>
                    <div class="form_group text_color">
                        <label for="title">Title:</label>
                        <input type="text" name="title"  class="form-control">
                    </div>
                    <div class="form_group text_color">
                        <label for="description">Description:</label>
                        <textarea name="description"  class="form-control"></textarea>
                    </div>
                    <div class="form_group text_color">
                        <label for="file">File:</label>
                    <input type="file" class="form-control" name="file">
                    </div>
                    
                    <input type="hidden" name="user_id" value="{{session['user_id']}}">
                </div>
                <div class="form_group text-center">
                    <input type="submit" value="Add" class="custom-submit-button btn btn-outline-dark">
                </div> 
            </form>

        </div>
        
    </div>
    
</body>
</html>