<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/style.css' ) }}" rel="stylesheet">

</head>
<body class="custom_background">
    <div class="intro">
        <h1 class="title text_color">ArtFolio</h1>
    <h3 class="text_color">Store your Artwork!</h3>

    <a href="/log">
        <button class=" button custom-submit-button">Enter Artfolio!</button>
    </a> 
    </div>     
</body>
</html>